
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}.wrapper__left{
    padding: 100px 200px;
   
}
span{
   
     padding: 10px;
     border-radius: 8px;
     border: 2px  solid #B99674;
     
}
.left-2 h5{
    font-size: 25px;
    color:  #B99674;

}

.left-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.left-icon{
    margin-top: 30px;
}

.wrapper__right{
    width: 650px;
    height: 550px;
    margin-top: 30px;
    background-color:#B99674;
    padding:50px ;

}

.right-box{
    width: 550px;
    height: 450px;
    background-color:#fff;
  
    
}
.right-card{
    width: 650px;
    height: 550px;
    background-color:#fff;
    
}
.title5{
   text-align: center;
  padding-top:  30px;
}

.form{
    padding: 20px 0px 0px 60px;

}

.form input{
    width: 540px;
    height: 55px;
    padding: 10px;
    border:none;
    outline: none;


}

.right-card textarea{
    width: 540px;
    height: 75px;


}

.title2{
    text-align: center;
    color: #413529;
    padding-top:  5px;


}
.btn{
    display: block;
    width: 540px;
    height: 50px;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 15px;
    font-size: 23px;
    color:#fff;
    background-color: #B99674;

}